.icon-bar {
   display: block;
   width: 18px;
   height: 2px;
   margin-top: 3px;
   background-color: lightgrey;
   @include rounded(1px);

}

.navbar {
    background: #11c909; //green
    overflow: hidden; // add on 
    max-height:44px;  //add on 
    @include transition(max-height .5s); // add on
    &.open{  // add on
        max-height: 220px; // add on
    }
    .navbar-inner {
        .logo{
            display: block;
            padding: 9px 15px;
            font-weight: bold;
            color: #091fff; // blue
            margin-bottom: 4px;
        }
        .nav {
            margin-bottom: 0; // add on
            list-style:none;  // add on
            a {
                @extend .logo;
            }
        }
    }
}